
header{
    width: 50%;
    margin-top: 5px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4fa;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button{
    margin: 25px;
    background-color: #7a2660;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover{
    background-color: #777;
    color: #000;
}