body{
    margin: 0;
    background-color: #470f35;
}


section {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
  
#hero {
  gap: 20px;
  height: 648px;
}

#hero .hero-back-img {
  position: absolute;
  height: 648px;
  object-fit: cover;
  z-index: -1;
}

#hero .profile-img {
  position: absolute;
  width: 333px;
  height: 333 px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #611c4b;
  top: 240px;
  left: 288px;
  transform: translate(-50%);
}

.hero-profile-text {
  font-family: 'Nixie One', system-ui;
  display: flex;
  flex-direction: column;
  text-align: left;
  transform: translateX(1%);
}

.name {
  font-size: 27px;
  color: #fff4fa;
}

.motto {
  margin: 0;
  font-size: 15px;
  color: #fff4fa;
  font-weight: 400;
  font-style: normal;
}

#hero-about{
  text-align: justify;

  line-height: 1.6;
  width: 600px;
  transform: translateX(800px);
  }

  .about h1{
    font-size: 50px;
    color: #fff4fa;
    font-family: 'Nixie One', system-ui;
  }
  .about p{
    color: #fff4fa;
    padding: 20px;
    font-family: Nixie One, system-ui;
  }

  .services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    background-color: #fff4fa;
  }

  .services li{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.6;
    color: #222;
    padding: 10px;
  }

  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    background-color: #fff4fa;
  }

  .projects .project-item{
    margin: 10px;
    display: flex;
    align-items: center;
  }

  @keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.nixie-one-regular {
  font-family: "Nixie One", system-ui;
  font-weight: 400;
  font-style: normal;
}
